@model IEnumerable<KiteSurfingFinalProject.Models.Product>

@*@model PagedList.IPagedList<KiteSurfingFinalProject.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />*@
@{
        <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    }

@{

    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
@*<body style="background-color:rgba(30, 47, 183, 0.25)";>*@
<body style="background-image: url('http://www.somosmundo.com/wp-content/uploads/2014/11/Jericoacoara-2.jpg')" ;>
    <p class=" margin-top-20" style="margin-top:20px" }>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "mybtn" })
    </p>
    @*Search button*@
    @using (Html.BeginForm())  
    {
        <p>
            Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string) 
            @*<a href="~/Views/Product/Index.cshtml"></a>*@
            <input type="submit" value="Find" />
        </p>
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @Ajax.ActionLink("All", "All", new AjaxOptions() 
                                { 
                                    HttpMethod = "GET",
                                    UpdateTargetId = "divProducts",
                                    InsertionMode = InsertionMode.Replace
                                })
<span style="color:blue"> | </span>
    @Ajax.ActionLink("Newest Posts", "NewestPosts", new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "divProducts",
                                    InsertionMode = InsertionMode.Replace
                                })
    <span style="color:blue"> | </span>
    @Ajax.ActionLink("Most Expesive", "MostExpesive", new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    UpdateTargetId = "divProducts",
                                    InsertionMode = InsertionMode.Replace
                                })
    

    <div id="divProducts">

    </div>


    <table class="table" style="border:1px solid double">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.user.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductTypeID)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Company)*@
                @Html.ActionLink("Company", "Index", new { Sorting_Order = ViewBag.SortingName })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Size)*@
                @Html.ActionLink("Size", "Index", new { Sorting_Order = ViewBag.SortingName })
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Year)*@
                @Html.ActionLink("Year", "Index", new { Sorting_Order = ViewBag.SortingName})
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                @Html.ActionLink("Description", "Index", new { Sorting_Order = ViewBag.SortingName})
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                @Html.ActionLink("Price", "Index", new { Sorting_Order = ViewBag.SortingName})  @*, Filter_Value = ViewBag.FilterValue*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Date)*@
                @Html.ActionLink("Date", "Index", new { Sorting_Order = ViewBag.SortingDate})
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductTypeID)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))*@

</body>
</html>
